:root {
  --MainBackground: #f0f3f4;
  --SwooshBackground: #ebebeb;
  --TextBackground: #1c1c1c;
  --TitleBackground: #d1898b;
  --HighlightText: #eedacb;
}
/* ANIMATIONS */

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

/* BASIC RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

#Nav {
  margin-top: 15rem;
  position: fixed;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  width: 100vw;
  z-index: 4;
}

.navimg {
  margin: 0 2rem;
  height: 35%;
}
/* TOGGLE BUTTON */
#toggle {
  margin: 0 6rem;
}
/* NAV */

.toggler {
  margin-top: 1rem;
  top: 0;
  position: absolute;
  z-index: 11;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  margin-top: 1rem;
  top: 0;
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--TitleBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 9;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hamburger > div::after {
  top: 10px;
}

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu {
  top: 0;
  right: 0;
  position: fixed;
  width: 500px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--TextBackground);
  visibility: hidden;
  z-index: 8;
}

.toggler:checked ~ .menu {
  transition: 2s ease-in;
  visibility: visible;
  animation: animateright 0.4s;
}

.menu img {
  top: 0;
  left: 0;
  margin: 2rem 2rem;
  position: absolute;
  width: 15%;
}
.menu li {
  color: var(--HighlightText);
}
.menu li a {
  text-transform: uppercase;
  color: inherit;
  font-size: 2rem;
  margin: 2.5rem;
  text-decoration: none;
}

.wiggle:hover {
  text-transform: uppercase;
  color: inherit;
  animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.menu li:nth-child(1) {
  color: var(--TitleBackground);
  text-decoration: underline;
}
.menuInfo {
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  margin: 2rem 2rem;
  bottom: 0;
  color: var(--TitleBackground);
}
/* HEADER */
.showcase {
  height: 140vh;
  background: grey;
  background-image: url(/Assets/background_image.jpeg);
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.imgOverlay {
  margin-top: -15rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #000000f3 0%, #000000d3 100%);
  position: relative;
}

.imgOverlay img {
  width: 10%;
}

.imgOverlay h1 {
  margin-top: 2rem;
  color: var(--TitleBackground);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
}

.imgOverlay h3 {
  color: var(--HighlightText);
  font-weight: 300;
  text-align: center;
  margin: 2rem;
}

.buttonSplit {
  z-index: 3;
  margin: 1rem;
  background: transparent;
  border: 1px double var(--TitleBackground);
  padding: 0.8rem 2rem;
  color: var(--HighlightText);
  position: relative;
  letter-spacing: 0.1rem;
  transition: 0.2s ease-in-out;
}

.buttonSplit:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--TitleBackground);
}
.buttonSplit:hover {
  cursor: pointer;
  background: var(--TitleBackground);
  color: white;
  transition: 0.2s ease-in-out;
}

.buttonSplit:focus {
  outline: none;
}

.headerSvg {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* PRODUCT SECTION */
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productHeader p {
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

.productHeader h2 {
  color: var(--TitleBackground);
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .imgOverlay {
    margin-top: -5rem;
  }

  #Nav {
    margin-top: 5rem;
  }

  .menu {
    width: 300px;
  }

  .imgOverlay h1 {
    margin-top: 0;
    font-size: 2rem;
  }

  .imgOverlay img {
    width: 30%;
  }
}

/* Product Grid and Cards */

.productGrid {
  margin: 3rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2.5rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 1200px) {
  .productGrid {
    margin: 1rem;
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.productCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
  text-align: center;
}

.productCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.productTitle {
  color: var(--TitleBackground);
  font-size: 2rem;
  margin: 2rem;
}

.productCard img {
  width: 100%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.products .buttonSplit {
  color: var(--TitleBackground);
}

/* INTERVIEW */
.interview {
  position: relative;
  background: var(--SwooshBackground);
  min-height: 100vh;
}
.interviewSvg path {
  position: absolute;
  top: 0%;
}

.interviewSvg {
  background: white;
}
.interviewTop {
  display: flex;
  align-items: center;
  justify-content: center;
  display: absolute;
  top: 0%;
  margin-top: -8rem;
}

.interviewLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.interviewLeft .bottom {
  padding-left: 25%;
}

.textLeft {
  text-align: left;
}
.imgWrap {
  width: 50%;
  filter: drop-shadow(-1px 10px 25px rgba(50, 50, 0, 0.5));
  display: flex;
  justify-content: center;
  z-index: 3;
  transition: 0.2s ease;
}

.imgWrap:hover {
  transform: rotate(-5deg);
  transition: 0.2s ease;
}
.interviewTop img {
  width: 50%;
  clip-path: polygon(
    0% 0%,
    80% 0%,
    100% 0%,
    100% 80%,
    80% 100%,
    0% 100%,
    0% 86%,
    0% 20%
  );
}

@media only screen and (max-width: 1200px) {
  .interviewTop {
    flex-direction: column-reverse;
  }
  .interviewLeft {
    width: 90%;
  }
  .imgWrap {
    width: 100%;
  }
}

.interviewBottom {
  margin-top: 5rem !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: -8rem;
  padding-bottom: 3rem;
}

.interviewBottom img {
  width: 45%;
  height: 370px;
  clip-path: polygon(
    0% 0%,
    80% 0%,
    100% 0%,
    100% 80%,
    80% 100%,
    0% 100%,
    0% 86%,
    0% 20%
  );
  object-fit: cover;
  object-position: bottom;
}

.interviewLeft h2 {
  color: var(--TitleBackground);
  font-weight: bolder;
  font-size: 2.5rem;
}

.interviewLeft p {
  margin: 1rem 0;
}

.interviewLeft a {
  color: var(--TitleBackground);
}

.interviewSvgBottom {
  position: absolute;
  bottom: -4%;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .interviewBottom {
    margin-top: 5rem;
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
  .interviewLeft {
    z-index: 3;
  }
  .interviewBottom img {
    height: 150px;
    width: 60%;
  }
  .interviewSvgBottom {
    position: absolute;
    bottom: -1%;
    z-index: 1;
  }
}

@media only screen and (max-width: 600px) {
  .interview {
    margin-top: 5rem;
  }
}
/* REVIEWS */

.reviews {
  min-height: 50vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewContainer {
  text-align: center;
}
.reviewContainer img {
  margin: 3rem;
  width: 70%;
}

/* FOOTER */

footer {
  padding-top: 2rem;
  background: black;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

footer img {
  width: 250px;
  position: absolute;
  top: -20%;
  margin-left: 10rem;
}

.footerHalf {
  display: flex;
  flex-direction: column;
  color: var(--HighlightText);
  width: 50%;
  margin-left: 2rem;
  justify-content: center;
}

footer h2 {
  margin: 2rem 0;
  color: var(--TitleBackground);
  font-size: 2rem;
  font-weight: bolder;
}

@media only screen and (max-width: 1200px) {
  footer {
    margin-top: 10rem;
    flex-direction: column;
  }
  .footerHalf {
    width: 100%;
    margin-left: 0rem;
    align-items: center;
    min-height: 10rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  footer img {
    margin-left: 0rem;
  }
}

#subFooter {
  display: flex;
  min-height: 100px;
  background: var(--TitleBackground);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#subFooter img {
  height: 60px;
  margin: auto;
}

.subImg {
  display: flex;
  align-items: center;
}
.subLinks {
  color: black;
  font-size: 1rem;
  margin: 0 2rem;
}

.subLinks a {
  color: black;
}

.subLinks a:hover {
  color: white;
}

.stopScroll {
  height: 100;
  overflow: hidden;
}
